
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h4>A</h4>
        <div class="user_img_grid clearfix">
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Guard5214966</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
            <a class="user_img_item" href="#">
                <img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail">
                <span>Evals_</span>
            </a>
        </div>

        <h4>B</h4>
        <div class="user_img_grid clearfix">
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_5.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_8.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_6.jpg" alt="" class="img-thumbnail"></a>
        </div>
    </div>
</div>

