@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h4>今天</h4>
                <div id="listContent1" class="yb_listBox">
                    <ul class="yb_vedio yb_vedio_brose confixed">
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'32'15/13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h4>今天</h4>
                <div id="listContent1" class="yb_listBox">
                    <ul class="yb_vedio yb_vedio_brose confixed">
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'32'15/13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                        <li class="ui-draggable">
                            <div class="inner">
                                <a name="openLink" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="vedio_link" href="javascript:;" style="cursor: pointer;">
                                    <img src="/uploadassets/move/_.jpg" title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" alt="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv" class="">
                                </a>

                                <a name="select" class="info_text " title="[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv">[龙部落www.longbl.com]Fast.Five.2011.BluRay.1080p.DTS.x264-CHD.mkv</a>

                                <a name="openLink" href="javascript:;" style="cursor: pointer;">
                                    <p class="info_texta confixed png">
                                        <i class="left">1'20'14 / 13.05 G</i>
                                        <i class="right"></i>
                                    </p>
                                </a>
                                <div class="yb_like">
                                    <a href="#"><span class="side_icon fa fa-edit"></span></a>
                                    <a href="#"><span class="side_icon fa fa-heart-o"></span></a>
                                    <a href="#"><span class="side_icon fa fa-upload"></span></a>
                                    <a href="#"><span class="side_icon fa fa-trash-o text-danger"></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="slidebar">
    <div id="slidebar_content">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <hr>

        <div class="sepH_a">
            <div class="progress">
                <div style="width: 60%;" role="progressbar" class="progress-bar">
                    60%
                </div>
            </div>
            <span class="help-block">CPU Usage</span>
        </div>
        <div class="sepH_a">
            <div class="progress">
                <div style="width: 28%;" class="progress-bar progress-bar-success">
                    28%
                </div>
            </div>
            <span class="help-block">Disk Usage</span>
        </div>
        <div class="progress">
            <div style="width: 82%;" class="progress-bar progress-bar-danger">
                0.2GB/20GB
            </div>
        </div>
        <span class="help-block">Monthly Transfer</span>
        <hr>

        <div class="heading_a">New Users</div>
        <div class="user_img_grid clearfix">
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_3.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_5.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_8.jpg" alt="" class="img-thumbnail"></a>
            <a class="user_img_item" href="#"><img src="/assets/img/avatars/avatar_6.jpg" alt="" class="img-thumbnail"></a>
        </div>
        <hr>

        <form>
            <div class="form-group">
                <input type="text" class="input-sm form-control" placeholder="Tilte...">
            </div>
            <div class="form-group">
                <textarea cols="30" rows="3" class="form-control input-sm" placeholder="Message..."></textarea>
            </div>
            <button type="button" class="btn btn-default btn-sm">Send message</button>
        </form>
        <hr>
        <div class="sepH_a">
            <span class="label label-info">Reminder</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fuga omnis ipsa odit sint aut molestiae enim. Quia cupiditate distinctio ad dicta qui ducimus aspernatur debitis incidunt minima laboriosam atque.</p>
    </div>
</div>
